@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme  {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes spin3D {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }
  20% {
    transform: perspective(400px) rotateY(1080deg);
  }
  100% {
    transform: perspective(400px) rotateY(1080deg);
  }
}

.animate-logo-spin {
  animation: spin3D 7s ease-in-out infinite;
}